@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "MainFont";
    src: url(../assets/fonts/SF-Pro-Display-Regular.ttf);
}

*{
    box-sizing: border-box;
    font-family: "MainFont";
}


.container{
    @apply px-[15px] md:px-[30px] lg:px-[100px]
}